.Album {
  margin: 20px 0 0 20px !important;
  padding: 0 !important;
  border: none !important;
  flex: 0 0 430px;
}

.Album .media-left {
  margin: 0 15px 0 0 !important;
}

.Album figure {
  margin: 0 !important;
  border-radius: 3px;
}

.Album figure img {
  border-radius: 3px;
}

.Album .content a {
  color: #1cb954;
  text-decoration: underline;
}

.Album .content a:hover {
  text-decoration: none;
}
