.Navbar {
  display: flex;
  align-items: center;
  height: 70px;
  padding: 15px;
}

.Navbar .title {
  margin-bottom: 0;
  margin-right: 20px;
  user-select: none;
  width: 240px;
}

.Navbar .last-update {
  margin-left: 15px;
}

.Navbar .right {
  justify-content: flex-end;
  margin-left: auto;
  display: flex;
  align-items: center;
}
